* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* line-height: 2em; */
}

body {
    background-color: #daede2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-wrapper {
    margin: 5%;
    height: 2700px;
    background-color: #77c4d3;
}

section.intro {
    padding: 5%;
    color :#ffffff;
}

section.intro h1 {
    background-color: #ea2e4a;
    width: 20.10em;
    height: 2.2em;
    padding: 12px 23px;
    letter-spacing: 1px;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 24px;
}

section.intro h2 {
    font-weight: 900;
    font-size: 8.125em;
    max-width: 50%;
    padding-bottom: 10%;
}

div.summary p {
    text-transform: uppercase;
    width: 55%;
}

div.summary a {
    color :#ffffff;
    text-decoration-color: #5f9da9;
}

div.summary p:nth-child(1) {
    border-bottom: 1px solid #ea2e4a;
    padding: 1.5em 0;
}

div.summary p:nth-child(2) {
    padding: 1.5em 0;
}

div.preamble {
    width: 67%;
    background-color: #ffffff;
    margin-top: 8%;
    margin-left: -11.6%;
    opacity: 0.9;
    padding: 2%;
    padding-left: 11%;
    /* padding: 30px 30px 40px 100px; */
}

div.preamble h3 {
    /* color: #333333; */
    color: #333333;
    font-weight:lighter;
    font-size: 1.6em;
    padding: 16px 0px;
}

div.preamble p {
    color: #333333;
    padding: 10px 0;
    text-align: left;
    font-size: 0.9em;
    line-height: 1.5em;
}

.main {  
    /* border: 1px solid #000000; */
    width: 95%;
    padding-left: 5%;
}

.supporting div{
    display: inline-block;
    /* width: 49.732%; */
    width: 48.9%;
    /* margin-left: -0.5%; */
    /* height: 100%; */
    z-index: 1;
    position: relative;
    padding: 50px 50px 0 50px;
}

div.explanation {
    /* width: 504px; */
    /* height: 520px; */
    line-height: 1.5em;
    padding: 4%;
    color: #ffffff;
    /* border: 1px solid #000000; */
}

div.explanation h3 {
    font-weight: lighter;
    font-size: 1.6em;
    padding: 6px 4px;
}

div.explanation p:nth-child(2) {
    padding: 12px 0;
    
}

div.explanation p:nth-child(3) {
    /* padding: 12px 0; */
}

div.participation {
    /* width: 504px; */
    /* height: 520px; */
    line-height: 1.5em;
    /* position: absolute; */
    /* left: 616px; */
    /* top: 1571px; */
    background-color: #ea2e4a;
    opacity: 0.9;
    color: #ffffff;
    /* border: 1px solid #000000; */
    padding: 5%;
    margin-left: -0.6%;

    /* padding: 50px 45px; */
    /* margin-top: -5550px; */
}

div.participation h3{
    font-weight: lighter;
    font-size: 1.6em;
    padding: 6px 4px;
}

div.participation p:nth-child(2) {
    padding: 12px 0;
    
}

div.participation p:nth-child(3) {
    /* padding: 3px 0; */
}

div.participation a {
    color: #ffffff;
    text-decoration-color: #d9304a;
}

div.benefits {
    background-color: #ffffff;
    /* color: #000000; */
    /* height: 505px; */
    width: 30%;
    /* padding: 50px; */
    /* margin-top: 108px; */
    opacity: 0.9;
    line-height: 1.6em;
    padding: 4%;
    /* border: 1px solid #000000; */
}

div.benefits h3{
    font-weight: lighter;
    font-size: 1.6em;
    padding: 10px 0;
}

div.benefits p:nth-child(2){
    padding: 5px 0 15px 0;
    font-size: 1.07em;
    text-align: left;
}

div.requirements {
    background-color: #ffffff;
    /* color: #000000; */
    opacity: 0.9;
    /* padding: 50px 40px; */
    line-height: 1.6em;
    /* width: 686px; */
    height: 300%;
    /* position: absolute; */
    width: 67.7%;
    /* padding: 4% 4% 5% 4%; */
    padding: 40px 40px 50px 40px;
    margin-left: -0.5%;

    /* top: 2091px; */
    /* left: 434px; */
    /* border: 1px solid #000000; */
}

div.requirements h3{
    font-weight: lighter;
    font-size: 1.6em;
    padding: 10px 0;
}

div.requirements p:nth-child(2), div.requirements p:nth-child(3) {
    color: #000000;
    padding: 5px 0 15px 0;
    text-align: left;
    /* font-size: 1.07em; */
    /* text-align: left; */
}

div.requirements p:nth-child(4) {
    color: #000000;
    padding: 5px 0 15px 0;
    border-bottom: 1px solid #ea2e4a;
    text-align: left;
}

div.requirements p:nth-child(5), div.requirements a {
    text-transform: uppercase;
    color: #000000;
    padding: 10px 0 15px 0;
    text-align: left;
    text-decoration-color: #c1c7c9;
    text-decoration-thickness: 1.5px;
}

footer {
    /* margin: 7px 0; */
    background-color: #e4e68c;
    width: 50%;
    height: 50px;
    padding: 15px 30px;
}

footer > a {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #bbc17b;
    text-decoration-thickness: 1.5px;
    text-transform: none;
    line-height: 1em;
    /* border-bottom: 1px solid #bbc17b; */
    padding: 0 5px;
}

aside.sidebar {
    top: 0;
    right: 0.8%;
    position: absolute;
    height: 482%;
    width: 30%;
    background-color: #333333;
    opacity: 0.9;
    z-index: 0;
}

ul {
    list-style-type: none;
}

.wrapper {
    background-color: #e4e68c;
    opacity: 0.9;
    position: absolute;
    
    top: 5%;
    left: -11.6%;
    width: 97.6%;
    max-height: 23%;
    padding: 18% 14%;
}

h3.archives {
    color: #000000;
    font-weight: lighter;
    font-size: 1.9em;
    /* padding-bottom: 5px; */
}

li.next {
    padding: 15px 0;
}

li.next a{
    color: #000000;
    font-weight: lighter;
    text-decoration: #bbc17b underline;
}

li.viewall {
    padding: 5px 0 15px 0;
}

li.viewall a{
    color: #000000;
    font-weight: lighter;
    text-decoration: #bbc17b underline;
}

h3.resources {
    color: #000000;
    font-weight: lighter;
    font-size: 1.9em;
    padding: 70px 0 10px 0;
}

li.view-css {
    padding: 5px 0 15px 0;
}

li.view-css a{
    color: #000000;
    font-weight: lighter;
    text-decoration: #bbc17b underline;
}

li.css-resources {
    padding: 5px 0 15px 0;
}

li.css-resources a {
    color: #000000;
    font-weight: lighter;
    text-decoration: #bbc17b underline;
}

li.zen-faq {
    padding: 5px 0 15px 0;
}

li.zen-faq a {
    color: #000000;
    font-weight: lighter;
    text-decoration: #bbc17b underline;
}

li.zen-submit {
    padding: 5px 0 15px 0;
}

li.zen-submit a {
    color: #000000;
    font-weight: lighter;
    text-decoration: #bbc17b underline;
}

li.zen-translations {
    padding: 5px 0 15px 0;
}

li.zen-translations a {
    color: #000000;
    font-weight: lighter;
    text-decoration: #bbc17b underline;
}

@media screen and (min-width: 4050.670px){
    .page-wrapper {
        margin: 5%;
        height: 3500px;
        background-color: #77c4d3;
    }
    
    div.preamble h3 {
        /* color: #333333; */
        color: #333333;
        font-weight:lighter;
        font-size: 2em;
        padding: 16px 0px;
    }
    
    div.preamble p {
        color: #333333;
        padding: 10px 0;
        text-align: left;
        font-size: 1.2em;
        line-height: 1.5em;
    }

    div.explanation {
        /* width: 504px; */
        /* height: 520px; */
        line-height: 1.5em;
        padding: 4%;
        color: #ffffff;
        /* border: 1px solid #000000; */
    }
    
    div.explanation h3 {
        font-weight: lighter;
        font-size: 2em;
        padding: 6px 4px;
    }
    
    div.explanation p {
        font-size: 1.37em;
        padding: 12px 0;
        
    }
    
    div.participation {
        /* width: 504px; */
        /* height: 520px; */
        line-height: 1.5em;
        /* position: absolute; */
        /* left: 616px; */
        /* top: 1571px; */
        background-color: #ea2e4a;
        opacity: 0.9;
        color: #ffffff;
        /* border: 1px solid #000000; */
        padding: 5%;
        margin-left: -0.6%;
    
        /* padding: 50px 45px; */
        /* margin-top: -5550px; */
    }
    
    div.participation h3{
        font-weight: lighter;
        font-size: 2em;
        padding: 6px 4px;
    }
    
    div.participation p {
        font-size: 1.33em;
        padding: 12px 0;
    }
    
    div.participation a {
        color: #ffffff;
        text-decoration-color: #d9304a;
    }

    div.benefits {
        background-color: #ffffff;
        width: 30%;
        opacity: 0.9;
        line-height: 1.7em;
        padding: 5%;
        /* margin-top: 6%; */
    }
    
    div.benefits h3{
        font-weight: lighter;
        font-size: 2em;
        padding: 10px 0;
    }
    
    div.benefits p:nth-child(2){
        padding: 5px 0 15px 0;
        font-size: 1.46em;
        text-align: left;
    }
    
    div.requirements {
        background-color: #ffffff;
        /* color: #000000; */
        opacity: 0.9;
        /* padding: 50px 40px; */
        line-height: 1.6em;
        /* width: 686px; */
        height: 300%;
        /* position: absolute; */
        width: 67.35%;
        /* padding: 4% 4% 5% 4%; */
        padding: 4%;
        margin-left: -0.14%;
    
        /* top: 2091px; */
        /* left: 434px; */
        /* border: 1px solid #000000; */
    }
    
    div.requirements h3{
        font-weight: lighter;
        font-size: 2em;
        padding: 10px 0;
    }
    
    div.requirements p:nth-child(2), div.requirements p:nth-child(3) {
        color: #000000;
        padding: 5px 0 15px 0;
        text-align: left;
        font-size: 1.11em;
        /* text-align: left; */
    }
    
    div.requirements p:nth-child(4) {
        color: #000000;
        padding: 5px 0 15px 0;
        border-bottom: 1px solid #ea2e4a;
        text-align: left;
    }
    
    div.requirements p:nth-child(5), div.requirements a {
        text-transform: uppercase;
        color: #000000;
        padding: 10px 0 15px 0;
        text-align: left;
        text-decoration-color: #c1c7c9;
        text-decoration-thickness: 1.5px;
    }

    footer {
        /* margin: 7px 0; */
        background-color: #e4e68c;
        width: 50%;
        height: 50px;
        padding: 15px 200px;
    }

    aside.sidebar {
        top: 0;
        right: 0.8%;
        position: absolute;
        height: 171%;
        width: 30%;
        background-color: #333333;
        opacity: 0.9;
        z-index: 0;
    }

    .wrapper {
        background-color: #e4e68c;
        opacity: 0.9;
        position: absolute;
        
        top: 10%;
        left: -11.6%;
        width: 97.6%;
        max-height: 23%;
        padding: 18% 14%;
    }
}

/* 
blue: #77c4d3
lightblue: #daede2
red: #ea2e4a
darkblue: #3a4553
yellow: #e4e68c
lightbluewhite: #f2f9fb
white: #ffffff
*/