* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

#container {
    position: relative;
    width: 100%;
    height: 567px;
}

.wrapper {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#question {
    font-size: xx-large;
    margin-left: 75px;
    font-weight: bolder;
    padding: 16px;
}

#display {
    margin: 20px;
    position: relative;
}

.left {
    width: 40%;margin: 20px 15px 20px 44.5px;
    padding: 4px 0;
    font-size: x-large;
    background: linear-gradient(135deg, rgba(102,0,255,1) 50%, rgba(204,0,255,1) 100%);
    box-shadow: 0 6px #999;
    text-shadow: 2px 2px 5px #000000;
    border-radius: 16px;
    border: none;
    color: #ffffff;
    opacity: 0.8;
    transition: 0.16s;
    transition-timing-function: ease-in-out;
}

.mid {
    width: 40%;
    margin: 20px 44.4px 20px 15px;
    padding: 4px 0;
    font-size: x-large;
    background: linear-gradient(135deg, rgba(102,0,255,1) 50%, rgba(204,0,255,1) 100%);
    box-shadow: 0 6px #999;
    text-shadow: 2px 2px 5px #000000;
    border-radius: 16px;
    border: none;
    color: #ffffff;
    opacity: 0.8;
    transition: 0.16s;
    transition-timing-function: ease-in-out;
}

.right {
    width: 40%;
    margin: 10px 180px;
    padding: 4px 0;
    font-size: x-large;
    background: linear-gradient(135deg, rgba(102,0,255,1) 0%, rgba(204,0,255,1) 50%);
    box-shadow: 0 6px #999;
    text-shadow: 2px 2px 5px #000000;
    border-radius: 16px;
    border: none;
    color: #ffffff;
    opacity: 0.8;
    transition: 0.16s;
    transition-timing-function: ease-in-out;
}

#answer {
    width: 100%;
    margin-top: 20px;
    font-size: xx-large;
    display: none;
    font-weight: bolder;
    padding: 128px;
    color: #ffffff;
    background: linear-gradient(135deg, rgba(102,0,255,1) 0%, rgba(204,0,255,1) 100%);
    box-shadow: 10px 10px 5px #999;
    text-shadow: 2px 2px 5px #000000;
    border-radius: 16px;
}

#start {
    padding: 10px 32px;
    width: 100%;
    font-size: xx-large;
    border-radius: 16px;
    background: linear-gradient(135deg, rgba(102,0,255,1) 0%, rgba(204,0,255,1) 100%);
    box-shadow: 0 6px #999;
    text-shadow: 2px 2px 5px #000000;
    color: #ffffff;
    border: none;
    opacity: 0.8;
    transition: 0.16s;
    transition-timing-function: ease-in-out;
}

#restart {
    display: none;
    padding: 8px 30px;
    /* margin: 24px 186px; */
    margin: 24px 0;
    border-radius: 16px;
    border: 1px solid #6600ff;
    transition: 0.16s;
    transition-timing-function: ease-in-out;
}

#restart:hover {
    background: #6600ff;
    color: #ffffff;
}

#start:hover, .left:hover, .mid:hover, .right:hover {
    opacity: 1;
}
#start:active, .left:active, .mid:active, .right:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

@media screen and (max-width: 1258px) {
    .left {
        width: 100%;
        margin: 10px 0;
    }

    .mid {
        width: 100%;
        margin: 10px 0;
    }

    .right {
        width: 100%;
        margin: 10px 0;
    }
}

/* 
blue: #6600ff
purple: #cc00ff
*/