* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    height: fit-content;
    position: relative;
}

.calculator-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    background-color: #cce5ff;
    text-align: center;
    line-height: 6.9em;
    width: 100%;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border: 2px solid #e6f2ff;
    font-size: large;
}

button:hover {
    background-color: #99ccff;
    color: #ffffff;
    outline: none;
}

button:active {
    transition-duration: 0.1ms;
    background-color: #4da3ff;
    color: #ffffff;
}

#display {
    background-color: #e6f2ff;
    width: 100%; 
    text-align: right; 
    padding: 8px; 
    height: 70px;
    font-size: xx-large;
}

.button-container {
    width: 100%; 
    display: flex; 
    position: relative;
}

.button-operator {
    width: 25%;
}

.button-operand {
    width: 37.5%;
}
.button-operand button {
    line-height: 14em;
}

@media screen and (max-width: 400px) {
    button {
        line-height: 5.75em;
    }
    .button-operand button {
        line-height: 11.7em;
    }
}